:root {
  --fleet-text-primary: #090909;
  --fleet-text-secondary: #0000008B;
  --fleet-text-tertiary: #00000073;
  --fleet-text-positive: #1E7857;
  --fleet-text-dangerous: #C72C49;
  --fleet-text-disabled: #00000073;
  --fleet-text-bright: #090909;
  --fleet-text-accent: #1868CB;
  --fleet-background-primary: #EEEFF0;
  --fleet-background-secondary: #F8F8F9;
  --fleet-background-frostedGlass-tint: #FFFFFF16;
  --fleet-background-frostedGlass-tint-accented: #0870E426;
  --fleet-border: #0000002E;
  --fleet-border-focused: #2A7DEB;
  --fleet-focusOutline: #A8C6F4;
  --fleet-banner-text: #090909;
  --fleet-banner-background-info: #E9EFFC;
  --fleet-banner-background-dangerous: #FFE9EA;
  --fleet-banner-background-warning: #FCEDDC;
  --fleet-banner-background-positive: #E6F2EA;
  --fleet-banner-border-info: #71A3EF;
  --fleet-banner-border-dangerous: #F87C88;
  --fleet-banner-border-warning: #CD984D;
  --fleet-banner-border-positive: #69B090;
  --fleet-banner-secondary-background-error: #FF00FF;
  --fleet-banner-inline-background: #00000010;
  --fleet-banner-inline-border: transparent;
  --fleet-banner-inline-text: #090909;
  --fleet-button-blur-gradient1-default: #00000010;
  --fleet-button-blur-gradient1-hovered: #0870E433;
  --fleet-button-blur-gradient2-default: #00000018;
  --fleet-button-blur-gradient2-hovered: #0870E44D;
  --fleet-button-dangerous-background-default: #D73251;
  --fleet-button-dangerous-background-disabled: #00000010;
  --fleet-button-dangerous-background-hovered: #C72C49;
  --fleet-button-dangerous-background-pressed: #B82D46;
  --fleet-button-dangerous-border-default: #D73251;
  --fleet-button-dangerous-border-disabled: #00000018;
  --fleet-button-dangerous-border-hovered: #C72C49;
  --fleet-button-dangerous-border-pressed: #B82D46;
  --fleet-button-dangerous-focusBorder: #FFFFFF;
  --fleet-button-dangerous-focusOutline: #D73251;
  --fleet-button-dangerous-separator-default: #FFFFFF43;
  --fleet-button-dangerous-separator-disabled: #0000002E;
  --fleet-button-dangerous-split-focusOutline: #F87C88;
  --fleet-button-dangerous-text-default: #FFFFFF;
  --fleet-button-dangerous-text-disabled: #00000073;
  --fleet-button-dangerous-text-hovered: #FFFFFF;
  --fleet-button-dangerous-text-pressed: #FFFFFF;
  --fleet-button-dangerous-text-hint: #FFFFFFB1;
  --fleet-button-positive-background-default: #14835E;
  --fleet-button-positive-background-disabled: #00000010;
  --fleet-button-positive-background-hovered: #1E7857;
  --fleet-button-positive-background-pressed: #216F52;
  --fleet-button-positive-border-default: #14835E;
  --fleet-button-positive-border-disabled: #00000018;
  --fleet-button-positive-border-hovered: #1E7857;
  --fleet-button-positive-border-pressed: #216F52;
  --fleet-button-positive-focusBorder: #FFFFFF;
  --fleet-button-positive-focusOutline: #14835E;
  --fleet-button-positive-separator-default: #FFFFFF43;
  --fleet-button-positive-separator-disabled: #0000002E;
  --fleet-button-positive-split-focusOutline: #69B090;
  --fleet-button-positive-text-default: #FFFFFF;
  --fleet-button-positive-text-disabled: #00000073;
  --fleet-button-positive-text-hovered: #FFFFFF;
  --fleet-button-positive-text-pressed: #FFFFFF;
  --fleet-button-positive-text-hint: #FFFFFFB1;
  --fleet-button-primary-background-default: #0870E4;
  --fleet-button-primary-background-disabled: #00000010;
  --fleet-button-primary-background-hovered: #1868CB;
  --fleet-button-primary-background-pressed: #1D61BA;
  --fleet-button-primary-border-default: #0870E4;
  --fleet-button-primary-border-disabled: #00000018;
  --fleet-button-primary-border-hovered: #1868CB;
  --fleet-button-primary-border-pressed: #1D61BA;
  --fleet-button-primary-focusBorder: #FFFFFF;
  --fleet-button-primary-focusOutline: #0870E4;
  --fleet-button-primary-separator-default: #FFFFFF43;
  --fleet-button-primary-separator-disabled: #0000002E;
  --fleet-button-primary-split-focusOutline: #71A3EF;
  --fleet-button-primary-text-default: #FFFFFF;
  --fleet-button-primary-text-disabled: #00000073;
  --fleet-button-primary-text-hovered: #FFFFFF;
  --fleet-button-primary-text-pressed: #FFFFFF;
  --fleet-button-primary-text-hint: #FFFFFFB1;
  --fleet-button-secondary-background-default: transparent;
  --fleet-button-secondary-background-disabled: #00000010;
  --fleet-button-secondary-background-hovered: #00000007;
  --fleet-button-secondary-background-pressed: #00000010;
  --fleet-button-secondary-border-default: #0000002E;
  --fleet-button-secondary-border-disabled: #00000018;
  --fleet-button-secondary-border-hovered: #0000002E;
  --fleet-button-secondary-border-pressed: #0000002E;
  --fleet-button-secondary-focusBorder: #2A7DEB;
  --fleet-button-secondary-focusOutline: #A8C6F4;
  --fleet-button-secondary-separator-default: #0000002E;
  --fleet-button-secondary-separator-disabled: #0000002E;
  --fleet-button-secondary-split-focusOutline: #A8C6F4;
  --fleet-button-secondary-text-default: #090909;
  --fleet-button-secondary-text-disabled: #00000073;
  --fleet-button-secondary-text-hovered: #090909;
  --fleet-button-secondary-text-pressed: #090909;
  --fleet-button-secondary-text-hint: #0000008B;
  --fleet-button-warning-background-default: #9F680C;
  --fleet-button-warning-background-disabled: #00000010;
  --fleet-button-warning-background-hovered: #916012;
  --fleet-button-warning-background-pressed: #865A15;
  --fleet-button-warning-border-default: #9F680C;
  --fleet-button-warning-border-disabled: #00000018;
  --fleet-button-warning-border-hovered: #916012;
  --fleet-button-warning-border-pressed: #865A15;
  --fleet-button-warning-focusBorder: #FFFFFF;
  --fleet-button-warning-focusOutline: #9F680C;
  --fleet-button-warning-separator-default: #FFFFFF43;
  --fleet-button-warning-separator-disabled: #0000002E;
  --fleet-button-warning-split-focusOutline: #CD984D;
  --fleet-button-warning-text-default: #FFFFFF;
  --fleet-button-warning-text-disabled: #00000073;
  --fleet-button-warning-text-hovered: #FFFFFF;
  --fleet-button-warning-text-pressed: #FFFFFF;
}
