.dark {
  --fleet-text-primary: #E0E1E4;
  --fleet-text-secondary: #FFFFFF85;
  --fleet-text-tertiary: #FFFFFF59;
  --fleet-text-positive: #409D78;
  --fleet-text-dangerous: #EC5D6F;
  --fleet-text-disabled: #FFFFFF59;
  --fleet-text-bright: #FFFFFF;
  --fleet-text-accent: #4B8DEC;
  --fleet-background-primary: #090909;
  --fleet-background-secondary: #252629;
  --fleet-background-frostedGlass-tint: #00000022;
  --fleet-background-frostedGlass-tint-accented: #0870E433;
  --fleet-border: #FFFFFF21;
  --fleet-border-focused: #2A7DEB;
  --fleet-focusOutline: #224271;
  --fleet-banner-text: #E0E1E4;
  --fleet-banner-background-info: #18263C;
  --fleet-banner-background-dangerous: #401A1E;
  --fleet-banner-background-warning: #302412;
  --fleet-banner-background-positive: #182921;
  --fleet-banner-border-info: #225090;
  --fleet-banner-border-dangerous: #922C3B;
  --fleet-banner-border-warning: #6C4B18;
  --fleet-banner-border-positive: #255A44;
  --fleet-banner-secondary-background-error: #0000008B;
  --fleet-banner-inline-background: #FFFFFF16;
  --fleet-banner-inline-border: transparent;
  --fleet-banner-inline-text: #E0E1E4;
  --fleet-button-blur-gradient1-default: #FFFFFF12;
  --fleet-button-blur-gradient1-hovered: #0870E433;
  --fleet-button-blur-gradient2-default: #FFFFFF16;
  --fleet-button-blur-gradient2-hovered: #0870E44D;
  --fleet-button-dangerous-background-default: #D73251;
  --fleet-button-dangerous-background-disabled: transparent;
  --fleet-button-dangerous-background-hovered: #C72C49;
  --fleet-button-dangerous-background-pressed: #B82D46;
  --fleet-button-dangerous-border-default: #D73251;
  --fleet-button-dangerous-border-disabled: #FFFFFF1B;
  --fleet-button-dangerous-border-hovered: #C72C49;
  --fleet-button-dangerous-border-pressed: #B82D46;
  --fleet-button-dangerous-focusBorder: #18191B;
  --fleet-button-dangerous-focusOutline: #D73251;
  --fleet-button-dangerous-separator-default: #FFFFFF43;
  --fleet-button-dangerous-separator-disabled: #FFFFFF21;
  --fleet-button-dangerous-split-focusOutline: #F87C88;
  --fleet-button-dangerous-text-default: #FFFFFF;
  --fleet-button-dangerous-text-disabled: #FFFFFF59;
  --fleet-button-dangerous-text-hovered: #FFFFFF;
  --fleet-button-dangerous-text-pressed: #FFFFFF;
  --fleet-button-dangerous-text-hint: #FFFFFFB1;
  --fleet-button-positive-background-default: #14835E;
  --fleet-button-positive-background-disabled: transparent;
  --fleet-button-positive-background-hovered: #1E7857;
  --fleet-button-positive-background-pressed: #216F52;
  --fleet-button-positive-border-default: #14835E;
  --fleet-button-positive-border-disabled: #FFFFFF1B;
  --fleet-button-positive-border-hovered: #1E7857;
  --fleet-button-positive-border-pressed: #216F52;
  --fleet-button-positive-focusBorder: #18191B;
  --fleet-button-positive-focusOutline: #14835E;
  --fleet-button-positive-separator-default: #FFFFFF43;
  --fleet-button-positive-separator-disabled: #FFFFFF21;
  --fleet-button-positive-split-focusOutline: #69B090;
  --fleet-button-positive-text-default: #FFFFFF;
  --fleet-button-positive-text-disabled: #FFFFFF59;
  --fleet-button-positive-text-hovered: #FFFFFF;
  --fleet-button-positive-text-pressed: #FFFFFF;
  --fleet-button-positive-text-hint: #FFFFFFB1;
  --fleet-button-primary-background-default: #0870E4;
  --fleet-button-primary-background-disabled: transparent;
  --fleet-button-primary-background-hovered: #1868CB;
  --fleet-button-primary-background-pressed: #1D61BA;
  --fleet-button-primary-border-default: #0870E4;
  --fleet-button-primary-border-disabled: #FFFFFF1B;
  --fleet-button-primary-border-hovered: #1868CB;
  --fleet-button-primary-border-pressed: #1D61BA;
  --fleet-button-primary-focusBorder: #18191B;
  --fleet-button-primary-focusOutline: #0870E4;
  --fleet-button-primary-separator-default: #FFFFFF43;
  --fleet-button-primary-separator-disabled: #FFFFFF21;
  --fleet-button-primary-split-focusOutline: #71A3EF;
  --fleet-button-primary-text-default: #FFFFFF;
  --fleet-button-primary-text-disabled: #FFFFFF59;
  --fleet-button-primary-text-hovered: #FFFFFF;
  --fleet-button-primary-text-pressed: #FFFFFF;
  --fleet-button-primary-text-hint: #FFFFFFB1;
  --fleet-button-secondary-background-default: #FFFFFF21;
  --fleet-button-secondary-background-disabled: transparent;
  --fleet-button-secondary-background-hovered: #FFFFFF1B;
  --fleet-button-secondary-background-pressed: #FFFFFF16;
  --fleet-button-secondary-border-default: transparent;
  --fleet-button-secondary-border-disabled: #FFFFFF1B;
  --fleet-button-secondary-border-hovered: transparent;
  --fleet-button-secondary-border-pressed: transparent;
  --fleet-button-secondary-focusBorder: #2A7DEB;
  --fleet-button-secondary-focusOutline: #224271;
  --fleet-button-secondary-separator-default: #FFFFFF2C;
  --fleet-button-secondary-separator-disabled: #FFFFFF21;
  --fleet-button-secondary-split-focusOutline: #224271;
  --fleet-button-secondary-text-default: #E0E1E4;
  --fleet-button-secondary-text-disabled: #FFFFFF59;
  --fleet-button-secondary-text-hovered: #E0E1E4;
  --fleet-button-secondary-text-pressed: #E0E1E4;
  --fleet-button-secondary-text-hint: #FFFFFF85;
  --fleet-button-warning-background-default: #9F680C;
  --fleet-button-warning-background-disabled: transparent;
  --fleet-button-warning-background-hovered: #916012;
  --fleet-button-warning-background-pressed: #865A15;
  --fleet-button-warning-border-default: #9F680C;
  --fleet-button-warning-border-disabled: #FFFFFF1B;
  --fleet-button-warning-border-hovered: #916012;
  --fleet-button-warning-border-pressed: #865A15;
  --fleet-button-warning-focusBorder: #18191B;
  --fleet-button-warning-focusOutline: #9F680C;
  --fleet-button-warning-separator-default: #FFFFFF43;
  --fleet-button-warning-separator-disabled: #FFFFFF21;
  --fleet-button-warning-split-focusOutline: #CD984D;
  --fleet-button-warning-text-default: #FFFFFF;
  --fleet-button-warning-text-disabled: #FFFFFF59;
  --fleet-button-warning-text-hovered: #FFFFFF;
  --fleet-button-warning-text-pressed: #FFFFFF;
  --fleet-button-warning-text-hint: #FFFFFFB1;
}
